name: 'build-test'
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  build: # make sure build/ci work properly
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
          npm install
      - run: |
          npm run all
  test-with-json: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Test action with JSON file
        id: create_table
        uses: ./
        with:
          file: __tests__/test-data/example1.json
      - name: Echo output result
        run: echo ${{ steps.create_table.outputs.table }}
  test-with-yaml: 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Test action with YAML file
        id: create_table
        uses: ./
        with:
          file: __tests__/test-data/example1.yaml
      - name: Echo output result
        run: echo ${{ steps.create_table.outputs.table }}
